<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineflix - Séries e Filmes Online</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

        :root{
            --bg-color: #1F1F1F;
            --red:#ad1919;
        }
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: 'Poppins', Arial;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--bg-color);
    }

    .container{
        height: 100%;
        width: 1668px;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    header{
        color: whitesmoke;
        top: 0;
        background: linear-gradient(to bottom, var(--red),rgb(95, 4, 4));
        margin-bottom: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.418);
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links-header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        font-weight: 700;
        font-size: 17px;
        height: 50px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .input-pesquisa{
        color: white;
        font-family: 'Poppins', Arial;
        font-size: 20px;
        margin: 20px;
        width: 450px;
        height: 40px;
        border-radius: 20px;
        padding-left: 20px;
        text-decoration: none;
        border: 2px solid grey;
        background: rgba(59, 59, 59, 0.658);
        outline: none;
    }
        .input-pesquisa:hover{
        background: rgba(59, 59, 59, 0.658);
        outline: none;
    }

    .series{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0px 0px 50px;
    }
    .sub-div{
        margin: 30px 10px;
        height: 320px;
        width: 220px;
    }
    .sub-div img{
        border-radius: 5px;
        height: 320px;
        width: 220px;
        transition: 0.2s ease-in-out;
    }
    .sub-div img:hover{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0px 0px 20px black;
    }
    .sub-div .genero{
        color: var(--red);
        font-size: small;
    }

    .serie-spot{
        position: relative;
        display: flex;
        width: 90%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--bg-color) 40%);
        overflow: hidden ;
    }
    .serie-spot .imgbackground{
        display: flex;
        width: 100%;
        opacity: 40%;
        height: 100%;
        z-index: -1;
        filter: blur(10px);
    }

    .serie-spot .sub-div{
        display: flex;
        width: 900px;
        left: 20px;
        position: absolute;
    }
    .serie-spot .sub-div .titulo{
        padding: 20px;
        height: 100%;
        margin: 10px;
        font-size: 40px;
        font-weight:700;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.123);
    }
    .titulo .subtext{
        display: flex;
        font-weight:200;
        font-size: 20px;
    }
    .titulo .descri{
        margin-top: 10px;
        opacity: 80%;
        display: flex;
        flex-direction: column;
        font-weight:200;
        font-size: 15px;
        width: 1100px;
    }
    footer{
        color: rgba(255, 255, 255, 0.651);
    }
    .links-header i{
        opacity: 80%;
        margin: 4px;
    }
    .links-header a:hover{
        scale: 1.05;
        text-shadow: 0px 0px 5px red;
    }
    </style>
</head>
<body>
    <header>
        <div class="links-header">
            <a href="/"><i class='bx bx-home'></i>Home</a>
            <a href="/action"><i class='bx bx-camera-movie'></i>Ação</a>
            <a href="/comedy"><i class='bx bx-movie-play' ></i>Comédia</a>
            <a href="/drama"><i class='bx bx-movie' ></i>Drama</a>
        </div>
    </header>
    <div class="container">
    {{{body}}}
    <footer>
        Trabalho da disciplina de Linguagens de Script para a Web - Ifpb. Alunos César Augusto, João Victor e Lucas Morais.
    </footer>
    </div>
</body>
</html>