<div class="series">

        {{#each data}}
        <div class="sub-div">

            <div class="images">
                <a href="/series/{{titulo}}"><img src="{{imagem}}"></a>
            </div>

            <div class="titulo">{{titulo}}
            </div>

            <div class="genero">
            {{generos}}
            </div>
        </div>
        {{/each}}

</div>